<MainHeader />

<div class='audit-region' aria-busy={{this.isLoading}}>
  <AuditForm as |form|>
    <AuditResults
      @results={{form.auditResults}}
      @htmlInput={{form.htmlInput}}
      @isLoading={{form.isLoading}}
      @auditRun={{form.auditRun}}
      @errorMessage={{form.errorMessage}}
    />
  </AuditForm>
</div>

<div class="footer-content">
  <Footer />
</div>
